.body {
    margin-bottom: 70px; /* Footer boyutuna göre ayarlayın */
}


.col-md-2 {
    overflow: hidden;
}

#navBar {
    /*Navbar Master*/

    /*background-color: #346357;*/
    /*navbar rengi */
    font-family: Arial, Helvetica, sans-serif;
}

#tanitim {
    /*Home.aspx*/

    color: #343a40;
    font-family: Arial, Helvetica, sans-serif;
}


.footer-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

#form {
    margin-top: 150px;
}


#text {
    font-family: Arial, Helvetica, sans-serif;
}

.btn:hover {
    box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.Button1 {
    background-color: #f95959;
}

.link-class {
    text-decoration: none; /* Çizgiyi kaldırır */
   
}


