
.col-md-2 {
    overflow: hidden;
}

#navBar {
    /*background-color: #346357;*/
    /*navbar rengi */
    font-family: Arial, Helvetica, sans-serif;
}

#tanitim {
    color: #343a40;
    font-family: Arial, Helvetica, sans-serif;
}

#warning {
    color: #be3144;
}

.footer-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

#title {
    /*color: #be3144;*/
}

#form {
    margin-top: 150px;
}


#text {
    font-family: Arial, Helvetica, sans-serif;
}

.btn:hover {
    box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
}

