.body {
    margin-bottom: 70px; /* Footer boyutuna göre ayar */
}

#bg {
    /*background-color: #c7b198;*/
}

.col-md-2 {
    overflow: hidden;
}

#navBar {
    background-color: #83afa6;
    font-family: Arial, Helvetica, sans-serif;
}


#tanitim {
    font-family: Arial, Helvetica, sans-serif;
}


.footer-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

#form {
    margin-top: 150px;
}


#text {
    font-family: Arial, Helvetica, sans-serif;
}

.btn:hover {
    box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
    color: #ff6f3c;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.Button1 {
    background-color: #f95959;
}

.link-class {
    text-decoration: none; /* Çizgiyi kaldırır */
}


#githubAccess:hover {
    color: #596e79;
}

.taskTitle {
    margin-top: 100px;
    margin-left: 10px
}

#myDiv {
    /*to do list div color*/
    background-color: #f1f1f1;
}

.title-todo {
    color: #3c4245;
}
